/* utilities -> properties used across whole project*/
.flex {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.container {
  max-width: 1100px;
  /* so that when screen increase past 1100 logo stays there */
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  /* height 100% means we want to use 100% of the parent's space, in this case(of index's grid having card) parent is showcase(h=400px) so 100% means 400px */
  height: 100%;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  width: 35%;
  border: none;
  border-radius: 5px;
}

.btn-outline {
  background-color: transparent;
  border: 1px #fff solid;
}

.btn:hover {
  transform: scale(0.98);
}

.showcase::after,
.showcase::before {
  content: "";
  /* absolute means og showcase ke wrt me */
  position: absolute;

  /* setting the position wrt og showcase */

  /* height is the band ka motapa */
  height: 100px;
  /* so that it is in bottom hence -70 */
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.text-center{
    text-align: center;
}

/* Margin */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* Padding */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}